body {
  background-color: #D8EEFE;
  font-family: "Rubik", apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

button {
  padding: .5rem;
  margin-inline: 2px;
  border-radius: 5px;
  transition: .3s;
  background-color: #fffffe;
  cursor: pointer;
  color: #000000;
}

h2, h4, .col-md, select, input {
  font-family: Rubik;
  font-style: normal;
}

h2, label {
  color: #094067;
}

h2 {
  margin-bottom: 42px;
  margin-top: calc(63px - 16px);
  font-size: 64px;
  line-height: 76px;
}

h4 {
  color: #000000;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

img {
  width: 120px;
  border-radius: 5px;
}

select, input {
  color:#757575;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  -webkit-appearance: none;
}

select {
  background-image: url('../icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 23px);
  background-position-y: center;
  background-size: 8%;
}

@media (min-width: 779px) {
  .col-md {
    display: inline-block;
    position: absolute;
    left: 174px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 39px;
  }
  body {
    max-width: 779px;
    margin: auto;
  }
}