.form, .div {
	position: absolute;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
}

.form, .div {
	background: var(--grey);
	padding: 2rem;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
  position: relative;
}

.div.open {
  color: #272343;
  font-size: large;
  font-weight: bold;
  line-height: 23px;
  display: flex;
  background-color: #ffffff;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  p {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
  }
  button {
    padding: 1rem 3.7rem;
    margin-inline: 1rem;
  }
}

.form.open,
.div.open,
.formSubmit {
	--opacity: 0.8;
  position: fixed;
  transition: .4s;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
	pointer-events: all;
  background-color: #FFFFFF;
  .btn-cancel {
    margin-top: 1.5rem;
    display: inline-block;
  }
}

.form.open {
  --opacity: 1;
  top: 50%;
  left: 50%;
  transform: none;
  background-color: #ffffff;
  border: none;
  width: 80vw;
  transform: translate(-50%, -50%);
  padding-top: 6rem;
  input, label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #094067;
    margin-bottom: 9px;
    max-width: 264px;
  }
  
  input {
    background-color: #D8EEFE;
    border: none;
    padding: 2rem 1rem;
  }
  
  .btn-danger, .btn-cancel {
    padding: 1rem 0;
    width: 158px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  
  h1 > b {    
    font-family: Rubik;
    color: #094067;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    display: block;
    margin-bottom: 26px;
  }
  .btn-cancel {
    background: #FFFFFF;
    border: 2px solid #5F6C7B;
    box-sizing: border-box;
    border-radius: 5px;
    color:  #5F6C7B;
    text-transform: capitalize;
    transform: translate(114%, -140%);
  }  
}

.close-form {
  position: absolute;
  right: 15%;
  top: 6%;
  border: none;
  background-image: url('../icons/x-icon.svg');
  width: 29px;
  height: 29px;
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.close-form:active,
.close-form:focus {
  border: none;
  outline: none;
}

.formSubmit {
  padding: 2rem 5rem;
  width: 85vw;
  text-align: center;
  height: 90vh;
  border-radius: 5px;
  z-index: 5;
  color: #094067;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  label, input {
    display: block;
    text-align: start;
    text-transform: capitalize;
    color: #094067;
  }
  
  input {
    background-color: #D8EEFE;
    padding : 1rem;
    border: none;
    border-radius: 5px;
  }
  button {
    padding: .75rem 2rem;
    text-transform: capitalize;
  }
}

@media (min-width: 779px) {
  .formSubmit {
    button {
      width: 158px;
    }
    
    label, input {
      display: block;
      text-align: start;
      text-transform: capitalize;
      margin-inline: auto;
      width: 264px;
      box-sizing: border-box;
    }
  }
  
  .close-form {
    right: 63px;
    top: 54px;
    margin: 0;
  }
}