@import "fonts";

.header {
   .row {
    background-color: #D8EEFE;
    padding-inline: 0;
   }
   .col {
     padding-inline: 0;
   }
}

.add {
  background-color: #EF4565;
  border-radius: 5px;
  color: #ffffff;
  padding: .8rem;
  margin: 0 0 .5rem 0;
  border: none;
  width: 100%;
}

.add:hover {
  background-color: #272343;
  cursor: pointer;
  transform: scale(1.1);
}

[for="search"], [for="month"] {
  font-size: 21px;
}

.delete,
.edit {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: .3s;
  display: inline-block;
  width: 28px;
  height: 20px;
}

.delete {
  background-image: url("../icons/trash.svg");
}

.delete:hover,
.edit:hover {
  transform: scale(1.1);
}

.delete:focus,
.delete:active,
.edit:focus,
.edit:active {
  outline: none;
}

.edit {
  background-image: url("../icons/edit.svg");
}

.row {
  background-color: #fffffe;
  border-radius: 5px;
  padding-inline-start: 43px;
  padding-block: 22px;
  vertical-align: middle;
  min-height: 139px;
  margin-inline: 0;
  margin: auto;
  position: relative;
  margin-top: 31px !important;
}

.col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button span {
  visibility: hidden;
}

.buttons-container {
  color : #5F6C7B;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.col > input, select {
  padding : .7rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.col {
  color: #5F6C7B;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

#wrapper {
  background-color: #D8EEFE;
  padding-inline: 0;
  padding-bottom: calc(47px - 31px);
  .col {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 0;
    button {
      margin: 0;
    }
  }
}

strong {
  color: #EF4565;
  font-family: Rubik;
  font-weight: 500;
}

@media (max-width: 779px) {
  .btn-container {
    align-items: flex-start;
    margin-top: 1rem;
  }

  #wrapper {
    display: block;
    .add.btn-submit, .col {
      margin-top: 1rem;
    }
    .add.btn-submit {
      transform: scale(1);
    }
  }
  
  .col-sm.picture {
    padding-block-start: 43px;
  }
}

@media (min-width: 779px) {
  .row {
    width: 779px;
  }
}
