@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: local("Rubik-Bold"),
        local("Rubik-Bold"),
       url("./fonts/Rubik-Bold.woff") format("woff"),
       url("./fonts/Rubik-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik-Regular"),
        local("Rubik Regular"),
       url("./fonts/Rubik-Regular.woff") format("woff"),
       url("./fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: local("Rubik-Regular"),
       local("Rubik Regular"),
       url("./fonts/Rubik-Regular.woff") format("woff"),
       url("./fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik-Bold"),
       local("Rubik Bold"),
       url("./fonts/Rubik-Bold.woff") format("woff"),
       url("./fonts/Rubik-Bold.woff2") format("woff2");
}
