@import "fonts";

body {
  background-color: #D8EEFE;
  font-family: "Rubik", apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

h2 {
  margin-block: 2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #094067;
}

.header {
   .row {
    background-color: #D8EEFE;
    padding-inline: 0;
   }
   .col {
     padding-inline: 0;
   }
}

.form, .div {
	position: absolute;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
}

.form, .div {
	background: var(--grey);
	padding: 2rem;
	border: 3px solid var(--pink);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
}

.div.open {
  color: #272343;
  font-size: large;
  font-weight: bold;
  line-height: 23px;
}

.form.open,
.div.open,
.formSubmit {
	--opacity: 0.8;
  position: fixed;
  transition: .4s;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
	pointer-events: all;
  background-color: #dddddd;
  button {
    margin: .5rem 0;
    background-color: #272343;
    color: #ffffff;
  }
}

.formSubmit {
  text-align: center;
  padding: 2rem 5rem;
  z-index: 5;
  box-shadow: 1px 1px 3px 3px #333333;
  border-radius: 5px;
  input {
    padding : 0.5rem;
    border: none;
    box-shadow: 1px 1px 1px 1px #333333;
    border-radius: 5px;
  }
  button {
    padding: .75rem 2rem;
    text-transform: capitalize;
  }
}

button {
  color: #111111;
  padding: .5rem;
  margin-inline: 2px;
  border-radius: 5px;
  transition: .3s;
  background-color: #fffffe;
}

.add {
  background-color: #EF4565;
  border-radius: 5px;
  color: #ffffff;
  margin: 0 0 .5rem 0;
  border: none;
}

.add:hover {
  background-color: #272343;
  cursor: pointer;
  transform: scale(1.1);
}

[for="search"], [for="month"] {
  font-size: 21px;
}

.delete,
.edit {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: .3s;
  width: 2rem;
}

.delete {
  background-image: url("./icons/trash.svg");
}

.delete:hover,
.edit:hover {
  transform: scale(1.1);
}

.edit {
  background-image: url("./icons/edit.svg");
}

.row {
  background-color: #fffffe;
  border-radius: 5px;
  padding: 1rem;
  vertical-align: middle;
}

.col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button span {
  visibility: hidden;
}

button {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.col > input, select {
  padding : .7rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

#wrapper {
  background-color: #D8EEFE;
  padding-inline: 0;
  .col {
    flex-direction: column;
    padding-left: 0;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #5F6C7B;
    button {
      margin: 0;
    }
  }
  .col.btn-container {
    padding-inline: 0;
    align-items: flex-end;
  }
}

strong {
  color: #EF4565;
}
