.form, .div {
	background: hsla(0, 0%, 30%, 0.5);
	position: absolute;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
}

.form, .div {
	background: var(--grey);
	padding: 2rem;
	border: 3px solid var(--pink);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
	/* --scale: 0.3; */
	transform: scale(var(--scale));
}

.form.open,
.div.open {
	--opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	pointer-events: all;
  background-color: #dddddd;
}

.div.open {
  width: 15rem;
  max-height: 50vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}


label {
  display: block;
}

.formSubmit {
  text-align: center;
}

.add {
  color: white;
  background-color: blue;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}